<div class="wrapper">
  <div class="entity-container">
    <ul class="container-list">
      <li
        *ngFor="let item of data"
        [ngClass]="{ active: getActiveLink(item.id) }"
        class="container-list-item"
        (click)="selectEntity(item.id)"
        (contextmenu)="onContextMenu($event, item)"
      >
        <span title="{{ item.name }}" class="title">{{ item.name }}</span>
      </li>
    </ul>
  </div>
  <div class="button-container">
    <button mat-button (click)="handleAddEntity()">
      Add {{ entityName | titlecase }}
    </button>
  </div>
</div>

<app-custom-menu
  [isOpen]="contextMenuIsOpen"
  [contextMenuPosition]="contextMenuPosition"
  (onTrigger)="onTriggerContextMenu($event)"
  (onClosed)="onClosedContextMenu()"
  [handleDeleteItem]="handleDeleteItem"
></app-custom-menu>
