.wrapper {
  width: 180px;
  height: 100%;
  margin-top: 10px;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .entity-container {
    overflow-y: auto;
  }

  .container-list {
    padding: 0px;
    margin: 4px 0px 0px 0px;

    .container-list-item {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      text-align: center;
      justify-content: center;
      cursor: pointer;
      width: 180px;
      height: 40px;
      overflow: hidden;

      .title {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 5px;
        margin: 0px 10px 0px 10px;
      }

      &:hover {
        background-color: #ccc;
      }
    }
  }

  button {
    width: 100%;
    background-color: #6444e4;
    border-radius: 0px;
  }
}



.active {
  background-color: #ccc;
}
