<div class="wrapper">
  <div class="entity-container">
    <ul class="container-list">
      <li class="container-list-item">
        <span>Test name</span>
      </li>

      <li class="container-list-item">
        <span class="title">Test name ddddddddddddddddddddddddddd</span>
      </li>

      <li class="container-list-item">
        <span class="title">Test name</span>
      </li>

      <li class="container-list-item">
        <span class="title">Test name</span>
      </li>

      <li class="container-list-item">
        <span class="title">Test name</span>
      </li>

    </ul>
  </div>
  <div class="button-container">
    <button mat-button>Add Notebook</button>
  </div>
</div>
